@font-face {
  font-family: CalSans;
  src: url("./assets/CalSans.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: CalSans;
}

*:not(input) {
  text-align: center;
}

button, input {
  font-family: CalSans;
}

.accountpage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 95vw;
  height: calc(100% - 50px);
  padding: 30px;
}

.alignitemscenter {
  display:flex;
  justify-content:center;
  align-items:center;
}

#gif-list li {
  display: inline-block;
}

.lightbox {
  width: 90vw;
  height: 80vh;
}

.fullpage {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.sign {
  padding: 10px;
}