@font-face {
  font-family: CalSans;
  src: url("./assets/CalSans.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: CalSans;
}

button, input {
  font-family: CalSans;
}

.accountpage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 95vw;
  height: 50vh;
}

.alignitemscenter {
  display:flex;
  justify-content:center;
  align-items:center;
}

#gif-list li {
  display: inline-block;
}