@font-face {
  font-family: CalSans;
  src: url("./assets/CalSans.ttf");
}

@font-face {
  font-family: Gopher;
  src: url("./assets/Gopher-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: Gopher;
}

*:not(input) {
  text-align: center;
}

button, input {
  font-family: Gopher;
}

.accountpage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 95vw;
  height: calc(100% - 50px);
  padding: 30px;
}

.alignitemscenter {
  display:flex;
  justify-content:center;
  align-items:center;
}

#gif-list li {
  display: inline-block;
}

#lightboxCont {
  opacity: 0;
  transition-duration: 0.5s;
}

#lightboxCont.shown {
  opacity: 100;
}

.lightbox {
  overflow: none;
  transition-duration: 0.75s;
  transition-timing-function: cubic-bezier(.27,.67,.85,.35);
  height: fit-content;
}

.lightbox.short {
  height: 0;
}

.fullpage {
  position: absolute;
  width: 100vw;
  min-height: 100vh;
}

.sign {
  padding: 10px;
}

input[type="text"], input[type="password"] {
  box-shadow: 0 5px 20px 0px #1c222b2e;
  outline: none;
  padding: 10px;
  background: white;
  border: none;
  border-radius: 5px;
}

button, input[type="submit"] {
  outline: none;
  border: none;
  padding: 7px 20px;
  border-radius: 5px;
  box-shadow: 0 6px #8f7ae6;
  background: #B1A0F6;
  color: white;
  position: relative;
  top: -3px;
  cursor: pointer;
  transition-duration: 0.5s;
}

button:hover, input[type="submit"]:hover {
  box-shadow: 0 0 #8f7ae6;
  transform: translateY(6px)
}